## compiled code
useDynLib(pcurve)

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  vegan,
  MASS,
  stats
)

## more specific imports from mgcv
importFrom(mgcv, gam, s, plot.gam)
